aiohttp==3.9.5
aiosignal==1.3.1
attrs==23.2.0
boto3==1.34.142
botocore==1.34.142
cachetools==5.3.3
certifi==2024.7.4
cftime==1.6.4
charset-normalizer==3.3.2
decorator==5.1.1
-e git+https://github.com/JordanLaserGit/ngen-datastream.git@0ee32ebcde2c5a79e938a000e3d4bf7b46c77d26#egg=forcingprocessor&subdirectory=forcingprocessor
frozenlist==1.4.1
fsspec==2024.6.1
gcsfs==2024.6.1
geopandas==1.0.1
google-api-core==2.19.1
google-auth==2.32.0
google-auth-oauthlib==1.2.1
google-cloud-core==2.4.1
google-cloud-storage==2.17.0
google-crc32c==1.5.0
google-resumable-media==2.7.1
googleapis-common-protos==1.63.2
h5netcdf==1.3.0
h5py==3.11.0
idna==3.7
jmespath==1.0.1
multidict==6.0.5
netCDF4==1.7.1.post1
numpy==2.0.0
nwmurl==0.2.3
oauthlib==3.2.2
packaging==24.1
pandas==2.2.2
proto-plus==1.24.0
protobuf==5.27.2
psutil==6.0.0
pyarrow==16.1.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pyogrio==0.9.0
pyproj==3.6.1
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
s3fs==0.4.2
s3transfer==0.10.2
scipy==1.14.0
shapely==2.0.4
six==1.16.0
tzdata==2024.1
urllib3==2.2.2
xarray==2024.6.0
yarl==1.9.4