version: '3.8'

services:
  datastream-deps:
    build:
      context: .
      dockerfile: Dockerfile.datastream-deps
      args:
        ARCH: ${ARCH}
      cache_from:
        - awiciroh/datastream-deps:latest
    image: awiciroh/datastream-deps:${TAG:-latest}

  datastream:
    build:
      context: ..
      dockerfile: docker/Dockerfile.datastream
      args:
        TAG_NAME: ${TAG:-latest}
    image: awiciroh/datastream:${TAG:-latest}

  forcingprocessor:
    build:
      context: ..
      dockerfile: docker/Dockerfile.forcingprocessor
    image: awiciroh/forcingprocessor:${TAG:-latest}
